VITE_SHOPIFY_STORE_DOMAIN=https://your-shop-name.myshopify.com
VITE_SHOPIFY_BREAD_VARIANT_ID=
VITE_SHOPIFY_SEMOLINA_VARIANT_ID=
VITE_SHOPIFY_EINKORN_VARIANT_ID=
VITE_SHOPIFY_RYE_VARIANT_ID=
VITE_SHOPIFY_PASTA_VARIANT_ID=
VITE_SHOPIFY_PASTRY_VARIANT_ID=
